# CMake excludes
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Ignore build outputs
**/bin/
**/lib/

# Ignore CMake build directory
**/build/

# Ignore clang cache directory
**/.cache
